.ankole-event {
     overflow: hidden; 
}

.events {
    display: flex;
}

.ankole-accra {
    position: absolute;
    width: 80vh;
    height: 120vh;
}

.accra {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/accra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.accra-detailed {
    position: relative;
    color: white;
    line-height: 0.5;
    text-align: center;
    width: 63vh;
    top: 28%;
    left: -2%;
    cursor: pointer;
    font-size: 150%;
}
.nairobi {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/anokle\ nairobi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.nairobi-information {
    position: relative;
    color: white;
    line-height: 0.5;
    text-align: center;
    width: 63vh;
    top: 28%;
    left: -2%;
    cursor: pointer;
    font-size: 150%;
}

.zanzibar-detailed {
    position: relative;
    color: white;
    line-height: 0.5;
    text-align: center;
    width: 63vh;
    top: 28%;
    left: -2%;
    cursor: pointer;
    font-size: 130%;
}

.zanzibar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/anokle\ zanzibar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navigation-bar {
    background-color: #333;
    position: fixed;
    top: 89%;
    width: 37%;
    padding: 0.5%;
    text-align: center;
    left: 30%;
    border-radius: 40px;
    font-family: poppins;
}

.navigation-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px 5px 16px;
    text-decoration: none;
}

.navigation-bar button {
    padding: 12%;
    border-radius: 30px;
    cursor: pointer;
    font-size: 100%;
    margin-top: -10%;
    background-color: rgb(153, 134, 153);
    font-family: poppins;
}

.navigation-bar button:hover {
    background-color: white;
}

.navigation-bar a:hover {
    color: black;
}

.logo {
    display: inline-block;
    position: fixed;
    top: 4vh;
    left: 43%;
}

.logo img{
    width: 200px;
}
#whatsApp {
    color:rgb(141, 133, 133);
    top: 90vh;
    left: 175vh;
    position: fixed;
    font-size: 250%;
    border:solid 1px gray;
    border-radius: 50px;
    padding:5px;
    background-color: #333;
}
.main-contents {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 220px;
    height: 35vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 70px;
    border-radius: 25px;
}

.main-contents hr {
    color: rgb(29, 27, 27);
    width: 85%;
    margin: auto;
}

.main-contents a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 100%;
}

.main-contents a:hover {
    color: rgb(37, 36, 36);
}

.content:hover .main-contents {
    display: block;
}
.schedule{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    bottom: 20px;
    z-index: 1;
    padding:2%;
    border-radius:25px;
    height:270px;
    line-height: 0.7;
  }
  .openning-hours{
    position: relative;
  }
  .openning-hours:hover .schedule{
    display:block;
  }
  #instagram {
    color:rgb(141, 133, 133);
    margin-top: 5%;
    left: 93%;
    position: fixed;
    font-size: 100%;
    border:solid 1px gray;
    border-radius: 50px;
    padding:5px;
  }
  #facebook{
    color:rgb(141, 133, 133);
    margin-top: 5%;
    left: 91%;
    position: fixed;
    font-size: 100%;
    border:solid 1px gray;
    border-radius: 50px;
    padding:5px;
  }
  @media (max-width: 768px){
  
    .logo{
        width: 40%;
        padding-top: 10%;
  
    }
    .logo img{
       width:70%;
    }
      #instagram{
        margin-left: -13%;
    }
    #facebook{
      margin-left: -3%;
    }
    .navigation-bar{
        width:60%;
        margin: 0%;
        padding: 0%;
        left: 5%;
    }
    #whatsApp{
      left:85%;
  
    }
    .navigation-bar button{
      margin:0;
      padding:0.5;
      margin-bottom: 10%;
    }
    .navigation-bar a, not{
      padding:0.5;
    }

    .accra-detailed,.nairobi-information,.zanzibar-detailed{
        font-size: smaller;
    }
    .events{
        flex-direction: column;
        overflow-x: hidden;
    }
    .ankole-event{
        overflow-y: auto;
  }
  #about-ankole, #menu-ankole, #review-ankole, #event-ankole, #live-ankole,#contact-ankole{
    display:none;
  }
}